#button-container{
   text-align: center;
}

#button-container input{
    width: 50%;
    text-align: center;
    border: 0;
    border-bottom: 2px black solid;
    padding: 1%;
    margin: 2%;
}

#basket{
    display : flex;
    background-color: skyblue;
    min-height : 50px;
    margin : 20px;
    flex-wrap : wrap-reverse;
    box-shadow : 0px 0px 5px black;    
}

.collect-ball{
    border-radius : 50%;
    width : 40px;
    height : 40px;
    /* background-color: indigo; */
}